.container.home {
    nav {
        background: red;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
       
        
        .links {
            text-decoration: none;
        } 
    }
}